body{
    background: linear-gradient(135deg,#6b4a41, #ddd6d0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    background-color: #c4a1a1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(165, 47, 1, 0.575);
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.score{
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
.game-board{
    display: grid;
    border: 3px solid rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    background: #756d6d;
}

.game-over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    animation: fadeIn 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    

}
.game-over h2{
    margin: 0px;
    font-size: 36px;
    color: #ff0000;

}

button{
    background: linear-gradient(45deg, #ff0000, #ff7f00);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    
}

.cell{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    box-sizing: border-box;

}
.snake{
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, #00ff6a, #ff7f00);
    border-radius: 5px;
    animation: pulse 0.5s infinite ;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);

}
.food{
    width: 20px;
    height: 20px;
    background: linear-gradient(45deg, #ff9900, #ff00008c);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    animation: glow 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

 @keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(207, 153, 153, 0.5);
    }
    100% {
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }
}   
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    

